body {
    background: linear-gradient(#c71f37, #8d0a22);
    /* Rotverlauf */
    color: #fff;
    font-family: "Segoe UI", sans-serif;
}

h1,
h2,
h3 {
    color: #ffd700 !important;
    /* Gold */
}

a {
    color: #ffdf8f !important;
}

header,
footer {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 10px;
}